######################################
#
# cbtheme
# based on TheWay 2.0 (thekingzion)
#
# Contact: babos.csaba@yourweb.hu
#
#################### FONTS ###########
					
menu.frame.font:			Arial-8:
menu.title.font:			Arial-8:
toolbar.clock.font:			Arial-8:
toolbar.workspace.font:			sans-8:
toolbar.iconbar.focused.font:		sans-8:
toolbar.iconbar.unfocused.font:		sans-8:
window.font:				sans-8:bold

##################### MENU ############

menu.bevelWidth:			2
menu.borderColor:			#FFFFFF
menu.borderWidth:			0

menu.bullet.position:	    right	
menu.bullet:			    diamond	

# Impostazione del titolo del menu
menu.title				    solid
menu.title.justify:			center
menu.title.color:			#7B7B7B
menu.title.colorTo:			#000000
menu.title.textColor:			#FFFFFF


# Impostazione del menu
menu.frame:			        solid
menu.frame.justify:			center
menu.frame.color:			#333
menu.frame.colorTo:			#afafaf
menu.frame.textColor:		#FFFFFF

# Impostazione del cursore di evidenziazione del menu
menu.hilite:				
menu.hilite.color:			#000000
menu.hilite.colorTo:			
menu.hilite.textColor:			#FFFFFF

######################### TOOLBAR #########

toolbar.bevelWidth:			0

toolbar.borderWidth:			
toolbar.borderColor:			
toolbar.height:				18
toolbar.justify:			center

toolbar.clock:				
toolbar.clock.justify:			center
toolbar.clock.color:			#222
toolbar.clock.colorTo:			
toolbar.clock.textColor:		#FFFFFF

toolbar.workspace:			
toolbar.workspace.justify:		center
toolbar.workspace.color:		#222
toolbar.workspace.colorTo:		
toolbar.workspace.textColor:		#FFFFFF

toolbar.button:				
toolbar.button.color:			#222
toolbar.button.colorTo:			
toolbar.button.picColor:		#FFFFFF
toolbar.button.pressed:			
toolbar.button.pressed.color:		#000000
toolbar.button.pressed.colorTo:		#
toolbar.button.pressed.picColor:	#

toolbar.iconbar:			
toolbar.iconbar.color:			#111
toolbar.iconbar.colorTo:		

toolbar.iconbar.focused:	        solid	
toolbar.iconbar.focused.color:		#222
toolbar.iconbar.focused.colorTo:	#D1D1D1
toolbar.iconbar.focused.textColor:	#FFFFFF
toolbar.iconbar.focused.justify:    left	

toolbar.iconbar.unfocused:		
toolbar.iconbar.unfocused.color:	#111
toolbar.iconbar.unfocused.colorTo:	
toolbar.iconbar.unfocused.textColor:	#444
toolbar.iconbar.unfocused.justify:	left

toolbar.iconbar.empty:			
toolbar.iconbar.empty.color:		#333
toolbar.iconbar.empty.colorTo:		

########################## WINDOW ##########
window.bevelWidth:			0
window.shade:				true
window.borderWidth:		    1	
window.borderColor:		    #333	
window.roundCorners:		
window.justify:			    center	

window.title.height:			14

window.title.focus:			
window.title.focus.color:		
window.title.focus.colorTo:		

# Impostazioni della finestra attiva
window.label.focus:			    solid
window.label.focus.color:		#111111
window.label.focus.textColor:	#FFFFFF

# Impostazioni della finestra disattivata
window.label.unfocus:		    solid	
window.label.unfocus.color:		#000
window.label.unfocus.colorTo:		
window.label.unfocus.textColor:	#ffffff

# Impostazioni bottoni finestra attiva
window.button.focus:		    solid	
window.button.focus.color:		#000000
window.button.focus.colorTo:		#FFFFFF
window.button.focus.picColor:		#FFFFFF

# Impostazioni bottoni finestra disattivata
window.button.unfocus:			
window.button.unfocus.color:		#000000
window.button.unfocus.colorTo:		
window.button.unfocus.picColor:		#FFFFFF

window.button.pressed:			sunken
window.button.pressed.color:		#000000

window.frame:			        solid	
window.frame.focusColor:		#FF3F00
window.frame.focusColorTo:		#ffffff
window.frame.unfocusColor:		#F7A78D
window.frame.unfocusColorTo:		#

window.handle.focus:			flat
window.handle.focus.color:		#
window.handle.focus.colorTo:		#
window.handle.unfocus:			flat
window.handle.unfocus.color:		#
window.handle.unfocus.colorTo:		#
window.handleWidth:			0

window.grip.focus:			flat
window.grip.focus.color:		#000000
window.grip.focus.colorTo:		#ffffff
window.grip.unfocus:			flat
window.grip.unfocus.color:		#
window.grip.unfocus.colorTo:		#

